In [39]:
with open("data/coco.ml.txt") as f:
    lines = f.readlines()
    lines = [line.strip() for line in lines]
    
lines[:5]

['ഒരു വലിയ ചരക്ക് ട്രെയിൻ ഒരു ട്രെയിൻ സ്റ്റേഷനിൽ ഇരിക്കുന്നു.',
 'ആളുകൾ ഒരു നദിക്കരയിൽ പതാകകൾ പതിച്ചിട്ടുണ്ട്.',
 'ട്രെയിനിൽ നിന്ന് കാണുന്നതുപോലെ ഒരു കൂട്ടം റെയിൽവേ ട്രാക്കുകൾ.',
 'ഒരു നദിയിലൂടെ മോട്ടോർ വേഗതയുള്ള ഒരു പീരങ്കി.',
 'ശൂന്യമായ സ്ക്വയറിൽ എന്തെങ്കിലും പ്രദർശിപ്പിക്കാൻ ശ്രമിക്കുന്ന ആളുകളുള്ള ഒരു മഞ്ഞ വാൻ.']

In [40]:
import numpy as np
# remove special characters
lines = [line.replace(".", "").replace(',', "").replace('"', "") for line in lines]
lines[:5]

['ഒരു വലിയ ചരക്ക് ട്രെയിൻ ഒരു ട്രെയിൻ സ്റ്റേഷനിൽ ഇരിക്കുന്നു',
 'ആളുകൾ ഒരു നദിക്കരയിൽ പതാകകൾ പതിച്ചിട്ടുണ്ട്',
 'ട്രെയിനിൽ നിന്ന് കാണുന്നതുപോലെ ഒരു കൂട്ടം റെയിൽവേ ട്രാക്കുകൾ',
 'ഒരു നദിയിലൂടെ മോട്ടോർ വേഗതയുള്ള ഒരു പീരങ്കി',
 'ശൂന്യമായ സ്ക്വയറിൽ എന്തെങ്കിലും പ്രദർശിപ്പിക്കാൻ ശ്രമിക്കുന്ന ആളുകളുള്ള ഒരു മഞ്ഞ വാൻ']

In [46]:
words = []
for line in lines:
    words.extend(line.split())

c_start = len(words)
words = list(set(words))
c_dedup = len(words)
print("Unique words:", c_dedup, "Reduction %:", (c_start - c_dedup)/c_start)

Unique words: 69905 Reduction %: 0.9720851426111583

In [90]:
# remove end of word half spaces
words = [word[:-1] if word[-1] == '\u200c' else word for word in words]
words = list(set(words))
c_half_space = len(words)
print("Unique words:", c_half_space, "Reduction %:", (c_dedup - c_half_space)/c_dedup)
words[:5]

Unique words: 69054 Reduction %: 0.012173664258636722

['മീൻപിടുത്തത്തിൽ', 'തയ്യാറായതുമാണെന്ന്', 'ഫാം', 'മോഡലുകളും', 'കൊക്കോയിൽ']

In [89]:
suffix = {}
n = 4
for word in words:
    if len(word) < n:
        continue
    suffix[word[-n:]] = suffix.get(word[-n:], 0) + 1
top_suffix = sorted(suffix.items(), key=lambda x: x[1], reverse=True)[:20]
import pandas as pd
pd.DataFrame(top_suffix, columns=["Suffix", "Count"])

   Suffix  Count
0    ുള്ള   5857
1    ക്ക്   2655
2    മായി   1925
3    ന്റെ   1795
4    ണ്ട്   1559
5    ന്നു   1555
6    െയും   1443
7    കളും   1148
8    ുന്ന   1083
9    ിലും   1040
10   ലൂടെ    921
11   പ്പം    911
12   ളുടെ    852
13   ത്ത്    840
14   ലാണ്    830
15   കളിൽ    712
16   ്കും    706
17   യുടെ    675
18   നായി    634
19   തായി    588

In [95]:
print('')

s23: സ്ക്‌രീന ് ‍ പരമാവധി വലുപ ് പത ് തില ് ‍